# Node
node_modules/
package-lock.json
npm-debug.log*
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.pytest_cache/
*.env
.venv/
venv/
ENV/
.env*

# Streamlit
.streamlit/

# Logs
logs/
*.log
